@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    --font-family:'Kalam', cursive;
}
/* Menu */
.container-fluid {
  font-family: var(--font-family);
  padding-left: 40px;
}

/* Pagina */
body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #da3b3b 16.62%, #3e99e4 80%);
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}
  
.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
  
.conteudo-principal-texto {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
  
.conteudo-principal-titulo {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}
  
.conteudo-principal-subtitulo {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}
.conteudo-principal-imagem {  height: 430px;
}
  
.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
  
.conteudo-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}
  
.paragrafo {
  padding: 0px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.eu {
  text-align: center;
  margin: 10px;
}
.eu-foto{
  border-radius: 8px;
  width: 180px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.esconde{
  display: none;
  text-align: center;
}

#show-or-hide {
  background-color: #da3b3b;
  color: white;
  padding: 20px;
  text-align: center;
  margin-left: 645px;
  margin-top: 10px;
  border-radius: 5px ;
  border: #da3b3b;
}

footer {
  left: 0;
  padding: 6px;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: rgb(2, 2, 2);
  text-align: center;
}

.footer img {
  width: 70px;
  padding: 15px;
}
